Repository submariner-io/submariner, pull requests merged in 2021-06, with the labels that each got.

#1341 Backport: Ensure that vx-submariner interface is up (#1284)
  pkg/routeagent_driver/handlers/kubeproxy_iptables/vxlan.go
Labels: ready-to-test

#1362 Update e2e to support globalnet 2.0 changes in future PRs
  test/e2e/dataplane/tcp_gn_pod_connectivity.go
  test/e2e/framework/dataplane.go
  test/e2e/redundancy/gateway_failover.go
  test/e2e/redundancy/route_agent_restart.go
Labels: globalnet, ready-to-test

#1320 Remove FailingClusters, FailingEndpoints and FailingGateways
  pkg/cableengine/syncer/syncer_test.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/failing_cluster.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/failing_endpoint.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/failing_gateways.go
Labels: ready-to-test, technical-debt

#1371 Use short Kubernetes versions
  .github/workflows/e2e-full.yml
Labels: ready-to-test

#1379 Use update-only Federator in GN controllers
  go.mod
  go.sum
  pkg/apis/submariner.io/v1/types.go
  pkg/globalnet/controllers/cluster_egressip_controller.go
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/global_egressip_controller.go
Labels: ready-to-test

#1381 Update README install docs, Helm over Operator
  README.md
Labels: docs, ready-to-test

#1383 Fix status.Conditions in Globalnet 2.0 CRDs
  pkg/apis/submariner.io/v1/types.go
Labels: ready-to-test

#1382 Use new IPPool in GN controllers
  pkg/globalnet/controllers/base_controllers.go
  pkg/globalnet/controllers/cluster_egressip_controller.go
  pkg/globalnet/controllers/cluster_egressip_controller_test.go
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/gateway_monitor.go
  pkg/globalnet/controllers/global_egressip_controller.go
  pkg/globalnet/controllers/global_egressip_controller_test.go
  pkg/globalnet/controllers/types.go
Labels: ready-to-test

#1384 Simplify error handling
  pkg/netlink/netlink.go
Labels: ready-to-test

#1376 Label gateway pod with the host and HA status
  main.go
  pkg/pod/pod.go
  test/e2e/redundancy/gateway_failover.go
Labels: ready-to-test

#1389 Accept default public IP setting from environment variable
  pkg/endpoint/public_ip.go
  pkg/types/types.go
Labels: M, P1, ready-to-test

#1390 Add GN 2.0 ServiceExport and GlobalIngressIP controllers
  pkg/globalnet/controllers/base_controllers.go
  pkg/globalnet/controllers/cluster_egressip_controller.go
  pkg/globalnet/controllers/cluster_egressip_controller_test.go
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/gateway_monitor.go
  pkg/globalnet/controllers/gateway_monitor_test.go
  pkg/globalnet/controllers/global_egressip_controller.go
  pkg/globalnet/controllers/global_egressip_controller_test.go
  pkg/globalnet/controllers/global_ingressip_controller.go
  pkg/globalnet/controllers/global_ingressip_controller_test.go
  pkg/globalnet/controllers/service_export_controller.go
  pkg/globalnet/controllers/service_export_controller_test.go
  pkg/globalnet/controllers/types.go
Labels: globalnet, ready-to-test

#1394 Fix CODEOWNERS file to include sub-directories
  CODEOWNERS
  CODEOWNERS.in
Labels: ready-to-test

#1391 Update Owner removal docs in governance summary
  GOVERNANCE.md
Labels: cncf, docs, ready-to-test

#1396 Tweaks to README install docs
  README.md
Labels: docs, ready-to-test

#1387 Support Globalnet EgressIPs at the cluster level
  pkg/globalnet/controllers/cluster_egressip_controller.go
  pkg/globalnet/controllers/cluster_egressip_controller_test.go
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/gateway_monitor.go
  pkg/globalnet/controllers/gateway_monitor_test.go
  pkg/globalnet/controllers/global_egressip_controller.go
  pkg/globalnet/controllers/iptables/iface.go
  pkg/globalnet/controllers/types.go
Labels: ready-to-test

#1388 Only write sysctl files if necessary
  package/Dockerfile.submariner-gateway
  package/submariner.sh
  pkg/netlink/netlink.go
Labels: ready-to-test

#1398 Follow-up to #1387
  pkg/globalnet/controllers/cluster_egressip_controller.go
  pkg/globalnet/controllers/cluster_egressip_controller_test.go
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/gateway_monitor.go
  pkg/globalnet/controllers/gateway_monitor_test.go
  pkg/globalnet/controllers/global_egressip_controller.go
  pkg/globalnet/controllers/types.go
Labels: ready-to-test

#1171 Vxlan cable driver
  .github/workflows/e2e-full.yml
  pkg/cable/vxlan/vxlan.go
  pkg/cableengine/cableengine.go
  pkg/routeagent_driver/cabledriver/vxlan_tunnel_cleanup_handler.go
  pkg/routeagent_driver/main.go
Labels: ready-to-test, vxlan

#1400 OVN: Validate CIDRs before making changes to the cluster
  pkg/cidr/iputil.go
  pkg/routeagent_driver/handlers/kubeproxy/endpoint_handler.go
  pkg/routeagent_driver/handlers/ovn/handler.go
Labels: ready-to-test

#1402 Backport: Validate CIDRs before making changes to the cluster
  pkg/cidr/iputil.go
  pkg/routeagent_driver/handlers/kubeproxy/endpoint_handler.go
  pkg/routeagent_driver/handlers/ovn/handler.go
Labels: ready-to-test

#1403 Install lichen and protoc* as needed
  .github/workflows/linting.yml
  .gitignore
  Dockerfile.dapper
  Makefile
  go.mod
  go.sum
  tools.go
Labels: ready-to-test

#1408 Only use 2 clusters for testing E2E
  Makefile
  scripts/cluster_settings
  scripts/cluster_settings.ovn
Labels: ready-to-test

#1413 Add GN 2.0 Service controller
  pkg/globalnet/controllers/gateway_monitor.go
  pkg/globalnet/controllers/service_controller.go
  pkg/globalnet/controllers/service_controller_test.go
  pkg/globalnet/controllers/types.go
Labels: ready-to-test

#1407 Upgrade to protoc 3.17.3
  Makefile
  pkg/natdiscovery/proto/natdiscovery.pb.go
  scripts/protoc.sha256
Labels: ready-to-test

#1416 Fix panic in GetKubeProxyClusterIPServiceChainName
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/service_export_controller.go
  pkg/globalnet/controllers/service_export_controller_test.go
Labels: ready-to-test

#1415 Reallocate global IPs if IP pool reserve fails
  pkg/globalnet/controllers/base_controllers.go
  pkg/globalnet/controllers/cluster_egressip_controller.go
  pkg/globalnet/controllers/cluster_egressip_controller_test.go
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/global_egressip_controller.go
  pkg/globalnet/controllers/global_egressip_controller_test.go
  pkg/globalnet/controllers/global_ingressip_controller.go
  pkg/globalnet/controllers/global_ingressip_controller_test.go
  pkg/ipam/ippool.go
Labels: ready-to-test

#1418 Speedup NAT detection when behind a cloud load balancer
  pkg/apis/submariner.io/v1/types.go
  pkg/endpoint/local_endpoint.go
  pkg/natdiscovery/remote_endpoint.go
  pkg/natdiscovery/remote_endpoint_test.go
Labels: ready-to-test

#1420 Support gateway healthcheck in Globalnet 2.0
  pkg/globalnet/controllers/base_controllers.go
  pkg/globalnet/controllers/cluster_egressip_controller.go
  pkg/globalnet/controllers/gateway_monitor.go
  pkg/globalnet/controllers/gateway_monitor_test.go
  pkg/globalnet/controllers/global_egressip_controller.go
  pkg/globalnet/controllers/global_ingressip_controller.go
  pkg/globalnet/controllers/iptables/iface.go
  pkg/globalnet/controllers/node_controller.go
  pkg/globalnet/controllers/types.go
Labels: ready-to-test

#1414 Fix vxlan issue with NAT enabled
  pkg/cable/vxlan/vxlan.go
Labels: ready-to-test, vxlan

#1424 Enable GN2.0 controllers and validate e2e clusteregress
  go.mod
  go.sum
  pkg/globalnet/main.go
  test/e2e/framework/dataplane.go
Labels: ready-to-test

#1428 Move globalnet constants to separate package
  pkg/controllers/datastoresyncer/datastore_endpoint_sync_test.go
  pkg/controllers/datastoresyncer/node_handler.go
  pkg/globalnet/constants/constants.go
  pkg/globalnet/controllers/cluster_egressip_controller.go
  pkg/globalnet/controllers/cluster_egressip_controller_test.go
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/gateway_monitor.go
  pkg/globalnet/controllers/gateway_monitor_test.go
  pkg/globalnet/controllers/global_ingressip_controller_test.go
  pkg/globalnet/controllers/ipam/gatewaymonitor.go
  pkg/globalnet/controllers/ipam/gatewaymonitor_test.go
  pkg/globalnet/controllers/ipam/globalnet.go
  pkg/globalnet/controllers/ipam/globalnet_egress.go
  pkg/globalnet/controllers/ipam/globalnet_ingress.go
  pkg/globalnet/controllers/ipam/node_handler.go
  pkg/globalnet/controllers/iptables/iface.go
  pkg/globalnet/controllers/node_controller.go
  pkg/globalnet/controllers/node_controller_test.go
  pkg/globalnet/controllers/types.go
  pkg/routeagent_driver/constants/constants.go
  test/e2e/framework/dataplane.go
Labels: ready-to-test

#1429 Ensure CDR names are lower case
  pkg/cableengine/syncer/syncer.go
  pkg/controllers/datastoresyncer/datastoresyncer.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: ready-to-test

#1427 Enable HeadlessService with globalnet v2
  pkg/globalnet/controllers/gateway_monitor.go
  pkg/globalnet/controllers/global_ingressip_controller.go
  pkg/globalnet/controllers/ingress_pod_controller.go
  pkg/globalnet/controllers/service_controller.go
  pkg/globalnet/controllers/service_controller_test.go
  pkg/globalnet/controllers/service_export_controller.go
  pkg/globalnet/controllers/types.go
Labels: ready-to-test

#1434 Update generated natdiscovery.pb.go
  pkg/natdiscovery/proto/natdiscovery.pb.go
Labels: ready-to-test

#1432 OVN: Validate CIDRs in network-plugin-syncer
  pkg/networkplugin-syncer/handlers/ovn/handler.go
  pkg/networkplugin-syncer/main.go
Labels: backport, ready-to-test

#1433 Fix intermittent GN test failures
  pkg/globalnet/controllers/global_egressip_controller_test.go
  pkg/globalnet/controllers/node_controller_test.go
  pkg/ipam/ippool.go
Labels: ready-to-test

#1377 Allow preferred server as an annotation too
  pkg/apis/submariner.io/v1/types.go
  pkg/endpoint/local_endpoint.go
Labels: ready-to-test

#1439 Add linter to check no "Apply suggestions" commits
  .github/workflows/linting.yml
Labels: automation, ready-to-test

#1442 Trim newlines when reading from sysctl
  pkg/netlink/netlink.go
Labels: ready-to-test

#1431 Add GN headless service tests
  go.mod
  pkg/globalnet/controllers/controllers_suite_test.go
  pkg/globalnet/controllers/service_export_controller_test.go
Labels: ready-to-test
