Repository submariner-io/submariner, pull requests merged in 2024-08, with the labels that each got.

#3121 Add retry mechanism to CNI interface discovery on kube-proxy handler
  pkg/routeagent_driver/handlers/kubeproxy/kp_packetfilter.go
Labels: ready-to-test

#3122 Update multiple GWs failover test to support ROKS as well
  test/e2e/redundancy/gateway_failover.go
Labels: ready-to-test

#3125 Remove dependabot config for release 0.14
  .github/dependabot.yml
Labels: ready-to-test

#3090 Bump to Kubernetes 1.31
  go.mod
  go.sum
  pkg/cableengine/syncer/syncer_test.go
  pkg/client/applyconfiguration/submariner.io/v1/cluster.go
  pkg/client/applyconfiguration/submariner.io/v1/clusterglobalegressip.go
  pkg/client/applyconfiguration/submariner.io/v1/clusterglobalegressipspec.go
  pkg/client/applyconfiguration/submariner.io/v1/clusterspec.go
  pkg/client/applyconfiguration/submariner.io/v1/connection.go
  pkg/client/applyconfiguration/submariner.io/v1/endpoint.go
  pkg/client/applyconfiguration/submariner.io/v1/endpointspec.go
  pkg/client/applyconfiguration/submariner.io/v1/gateway.go
  pkg/client/applyconfiguration/submariner.io/v1/gatewayroute.go
  pkg/client/applyconfiguration/submariner.io/v1/gatewaystatus.go
  pkg/client/applyconfiguration/submariner.io/v1/globalegressip.go
  pkg/client/applyconfiguration/submariner.io/v1/globalegressipspec.go
  pkg/client/applyconfiguration/submariner.io/v1/globalegressipstatus.go
  pkg/client/applyconfiguration/submariner.io/v1/globalingressip.go
  pkg/client/applyconfiguration/submariner.io/v1/globalingressipspec.go
  pkg/client/applyconfiguration/submariner.io/v1/globalingressipstatus.go
  pkg/client/applyconfiguration/submariner.io/v1/latencyrttspec.go
  pkg/client/applyconfiguration/submariner.io/v1/nongatewayroute.go
  pkg/client/applyconfiguration/submariner.io/v1/remoteendpoint.go
  pkg/client/applyconfiguration/submariner.io/v1/routeagent.go
  pkg/client/applyconfiguration/submariner.io/v1/routeagentstatus.go
  pkg/client/applyconfiguration/submariner.io/v1/routepolicyspec.go
  pkg/client/applyconfiguration/utils.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/cluster.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/clusterglobalegressip.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/endpoint.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_cluster.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_clusterglobalegressip.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_endpoint.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_gateway.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_gatewayroute.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_globalegressip.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_globalingressip.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_nongatewayroute.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/fake/fake_routeagent.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/gateway.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/gatewayroute.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/globalegressip.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/globalingressip.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/nongatewayroute.go
  pkg/client/clientset/versioned/typed/submariner.io/v1/routeagent.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/listers/submariner.io/v1/cluster.go
  pkg/client/listers/submariner.io/v1/clusterglobalegressip.go
  pkg/client/listers/submariner.io/v1/endpoint.go
  pkg/client/listers/submariner.io/v1/gateway.go
  pkg/client/listers/submariner.io/v1/gatewayroute.go
  pkg/client/listers/submariner.io/v1/globalegressip.go
  pkg/client/listers/submariner.io/v1/globalingressip.go
  pkg/client/listers/submariner.io/v1/nongatewayroute.go
  pkg/client/listers/submariner.io/v1/routeagent.go
  pkg/natdiscovery/proto/natdiscovery.pb.go
  tools/go.mod
  tools/go.sum
Labels: ready-to-test

#3135 Automated backport of #3121: Add retry mechanism to CNI interface discovery on kube-proxy
  pkg/routeagent_driver/handlers/kubeproxy/kp_packetfilter.go
Labels: release-note-needed, ready-to-test, automated-backport

#3137 Automated backport of #3122: Update multiple GWs failover test to support ROKS as well
  test/e2e/redundancy/gateway_failover.go
Labels: ready-to-test, automated-backport

#3136 Automated backport of #3122: Update multiple GWs failover test to support ROKS as well
  test/e2e/redundancy/gateway_failover.go
Labels: ready-to-test, automated-backport

#3139 Automated backport of #3121: Add retry mechanism to CNI interface discovery on kube-proxy
  pkg/routeagent_driver/handlers/kubeproxy/kp_iptables.go
Labels: release-note-needed, ready-to-test, automated-backport

#3138 Use NewClientset instead of NewSimpleClientset
  pkg/endpoint/local_endpoint_test.go
  pkg/endpoint/public_ip_internal_test.go
  pkg/endpoint/public_ip_watcher_test.go
  pkg/gateway/gateway_test.go
  pkg/globalnet/controllers/gateway_monitor_test.go
  pkg/routeagent_driver/handlers/calico/calico_suite_test.go
  pkg/routeagent_driver/handlers/ovn/ovn_suite_test.go
  pkg/routeagent_driver/handlers/ovn/transit_switch_ip_test.go
  pkg/util/clusterfiles/cluster_files_test.go
Labels: ready-to-test

#3142 Bump shipyard and address golangci-lint v1.60.3 errors
  .golangci.yml
  go.mod
  go.sum
  pkg/apis/submariner.io/v1/endpoint.go
  pkg/cable/libreswan/libreswan.go
  pkg/cable/libreswan/libreswan_internal_test.go
  pkg/cable/wireguard/driver.go
  pkg/cableengine/healthchecker/healthchecker.go
  pkg/cableengine/healthchecker/pinger.go
  pkg/cableengine/healthchecker/statistics.go
  pkg/ipam/ippool.go
  pkg/natdiscovery/request_handle.go
  test/e2e/dataplane/tcp_gn_pod_connectivity.go
  test/e2e/framework/dataplane.go
  test/external/dataplane/gn_connectivity.go
Labels: ready-to-test
