Repository submariner-io/submariner, pull requests merged in 2024-10, with the labels that each got.

#3178 Bump latest (1.31) and oldest (1.28) tested K8s versions
  .github/workflows/e2e.yml
  .github/workflows/flake_finder.yml
Labels: ready-to-test

#3187 Fix error deleting TCPMSS clamp rule in route agent
  pkg/packetfilter/iptables/iptables.go
  pkg/packetfilter/iptables/iptables_test.go
Labels: backport, ready-to-test

#3191 Revert "Handle updates to the node OVN transit switch IP"
  pkg/routeagent_driver/handlers/ovn/handler.go
  pkg/routeagent_driver/handlers/ovn/handler_test.go
  pkg/routeagent_driver/handlers/ovn/non_gateway_route_controller.go
  pkg/routeagent_driver/handlers/ovn/non_gateway_route_handler.go
  pkg/routeagent_driver/handlers/ovn/non_gateway_route_handler_test.go
  pkg/routeagent_driver/handlers/ovn/ovn_logical_routes.go
  pkg/routeagent_driver/handlers/ovn/ovn_suite_test.go
  pkg/routeagent_driver/handlers/ovn/transit_switch_ip.go
  pkg/routeagent_driver/handlers/ovn/transit_switch_ip_test.go
  pkg/routeagent_driver/main.go
Labels: ready-to-test

#3189 Automated backport of #3187: Fix error deleting TCPMSS clamp rule in route agent
  pkg/packetfilter/iptables/iptables.go
  pkg/packetfilter/iptables/iptables_test.go
Labels: ready-to-test, automated-backport

#3192 Adjust OVN TransitSwitchIP initialization
  pkg/routeagent_driver/handlers/ovn/handler.go
  pkg/routeagent_driver/handlers/ovn/handler_test.go
  pkg/routeagent_driver/handlers/ovn/non_gateway_route_handler.go
  pkg/routeagent_driver/handlers/ovn/non_gateway_route_handler_test.go
  pkg/routeagent_driver/main.go
Labels: backport, ready-to-test

#3194 Automated backport of #3192: Adjust OVN TransitSwitchIP initialization
  pkg/routeagent_driver/handlers/ovn/handler.go
  pkg/routeagent_driver/handlers/ovn/handler_test.go
  pkg/routeagent_driver/handlers/ovn/non_gateway_route_handler.go
  pkg/routeagent_driver/handlers/ovn/non_gateway_route_handler_test.go
  pkg/routeagent_driver/main.go
Labels: ready-to-test, automated-backport

#3190 Automated backport of #3187: Fix error deleting TCPMSS clamp rule in route agent
  pkg/packetfilter/iptables/iptables.go
  pkg/packetfilter/iptables/iptables_test.go
Labels: ready-to-test, automated-backport
